<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>


        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quae eum fuga officiis est nobis repudiandae adipisci repellendus itaque, tenetur explicabo odit aut architecto saepe ut similique? Omnis, explicabo dolores.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repellat quam numquam, deleniti velit deserunt perferendis dolore dicta facere ex tempore aliquam architecto voluptas, quaerat dignissimos corporis officiis, consequuntur placeat!</p>
            <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, dolor. Obcaecati possimus non earum ullam qui voluptates animi! Veniam officiis ad quaerat nisi quae, necessitatibus ea velit totam sequi non.</P>
        </div>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>